<div class="container-fluid">
  <div class="actions">
    <button class="btn btn-primary" (click)="usingOf()">
      Test Rxjs 
      <span class="keyword">'Of'</span> 
      operator
    </button>
    <button class="btn btn-secondary" (click)="usingFrom()">
      Test Rxjs 
      <span class="keyword">'From'</span> 
      operator
    </button>
    <button class="btn btn-primary" (click)="usingInterval()">
      Test Rxjs <span class="keyword">'Interval'</span> operator
    </button>
    <button class="btn btn-secondary" (click)="combiningOperators()">
      Test <span class="keyword">'Combination'</span> of Rxjs operators
    </button>
    <button class="btn btn-secondary" (click)="handlingError()">
      Test Rxjs <span class="keyword">'Error handling'</span> Functionality
    </button>
  </div>
  <div class="console">
    please check the console for the results
  </div>
</div>